@import "../../config/colors/customColors.css";
@import "tailwindcss";

html,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--color-ui-background-primary);
  color: var(--color-base-white);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
