@theme {
  --color-base-black: #080808;
  --color-base-white: #ffffff;
  --color-base-red: #af243e;
  --color-base-transparent: transparent;
  --color-base-gray: #808080;
  --color-base-blue: #007bff;
  --color-red-tinted: #faf1f1;
}
