@theme {
  --color-base-black: #000000;
  --color-base-white: #ffffff;
  --color-base-red: #af243e;
  --color-base-green: #00703a;
  --color-base-transparent: transparent;
  --color-base-gray: #808080;
  --color-base-blue: #007bff;
  --color-green-tinted: #00703a;
  --color-ui-background-primary: #fafafa;
  --color-ui-background-secondary: #00703a;
  --color-base-black-10: rgba(8, 8, 8, 0.10);
  --color-base-white-80: rgba(255, 255, 255, 0.80);
}
