@theme {
  --color-base-black: #080808;
  --color-base-white: #ffffff;
  --color-base-red: #af243e;
  --color-base-green: #00703a;
  --color-base-transparent: transparent;
  --color-base-gray: #808080;
  --color-base-blue: #007bff;
  --color-green-tinted: #00703a;
  --color-ui-background-primary: #fafafa;
  --color-ui-background-secondary: #00703a;
  --color-base-black-40: rgba(8, 8, 8, 0.40);
  --color-base-white-10: rgba(0, 0, 0, 0.10);
}
